{% extends "base_layout.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h1>Welcome to StockApp</h1>
        <div> This is a quick way to view the price of stocks</div>
    </div>
    <div class="col">
        <ul>
            <li> <a href="{{ url_for('stock.quote', ticker='AAPL') }}">View AAPL</a></li>
            <li> <a href="{{ url_for('stock.quote', ticker='GOOGL') }}">View GOOGL</a></li>
            <li> <a href="{{ url_for('stock.quote', ticker='FB') }}">View FB</a></li>
        </ul>
    </div>
</div>

{% endblock %}
